.inputtextsearch{
border: 1px solid black;
height: 40px;
width:50%;
}
.fr{
    float: right;
}
.sumbitbutton{
    background-color: black;
    color: white;
}
.menurow{
    height: 50px;
    justify-content: center;
    align-items: center;
}
.bggrey{
    background-color:  #f7f7f7;

}
::ng-deep .mat-tab-label-active{

    background-color: #f88888 !important;
    color:white;
}
::ng-deep .mat-tab-label{

    background-color:#f7f7f7;
    color: black;
}
::ng-deep .mat-ink-bar{

    background-color:#f7f7f7 !important;
}
::ng-deep .mat-tab-body-content{

    overflow: hidden !important;
}
.myringcontainer{
    padding:10px;
    width:50%;
    height:50px;
    background-color: grey;
}
.myring{
    display: inline-flex;
    margin:10px;
    width:75px;
    height:75px;
    background-color: grey;
}
.example-margin{
    width:100%;
}

::ng-deep .mat-accent .mat-slider-thumb{
    background-color: #f88888 !important ;
}
.img{
    background-color: grey;
    height: 400px;
}
.br{
    padding: 20px;
    margin: 20px
}
.justcenter{
    justify-content: center;
    align-items: center;
}
.btnprimary{
    background-color: #f88888 !important ;
    color: white;
    width: 100%;
}
.greybox{
    margin: 10px;
    padding: 10px;
    background-color: grey;
    height: 40px;
    display: inline-block;
    width:40px;
}