<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-right">
            <span class="mr-3">support@LVjewels conatct: +91 999 999 9999</span>
        </div>
    </div>
    <div class="row mt-2 ">
        <div class="col-md-6">
            <input type="text" class="inputtextsearch">
            <button class="sumbitbutton" mat-flat-button>Basic</button>
        </div>
        <div class="col-md-6">
            <span class="logo"> LOGO</span>
            <span class="fr mr-3">Cart</span>
            <span class="fr mr-3 ">Customize Your Ring</span>

        </div>
    </div>
    <div class="row bggrey menurow">
        <div class="col-sm-6 text-center">
            <span>Occasions</span>
            <span>Treanding</span>
            <span>LV Speacial</span>
            <span>Offer / Promotion</span>
            <span>Gifting</span>
        </div>
        <div class="col-sm-6 text-right">
            <span class="ml-3">Login / Register</span>
            <span class="ml-3">My Profile</span>


        </div>

    </div>
    <div class="tabrains">
        <div class="row mt-3">
            <div class="col-sm-10 mx-auto">
                <mat-tab-group [disableRipple]=true>
                    <mat-tab class="firsttab" label="1. Choose A Setting">
                        <div class="row no-gutter">
                            <div class="col-md-4">
                                <span>Styles</span>
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="myring" *ngFor="let i of imgs">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span>Metal</span>
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="myring" *ngFor="let i of imgs">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span>Price</span>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <mat-slider class="example-margin">
                                        </mat-slider>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" name="" id="">
                                        <p>min</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="" id="">
                                        <p>max</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 text-center">
                                <h1>Select from the Variations Below</h1>
                            </div>
                        </div>
                        <div class="row justcenter mt-5">
                            <div class="col-md-3   br " *ngFor="let i of imgs">
                                <div class="row">
                                    <div class="col-md-11 mx-auto img">

                                    </div>
                                </div>
                                <div class="row mt-2">


                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="span">Product Title</div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="span">Price:3000 Rs</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btnprimary" mat-flat-button>ADD</button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </mat-tab>
                    <mat-tab label="2. Select the Diamond">
                        <div class="row mt-4">
                          <div class="col-md-6">
                              <div class="row justcenter">
                                  <div class="col-md-2">
                                    <span>Shpae</span>
                                  </div>
                                  <div class="col-md-10">
                                   
                                        <div class="greybox" *ngFor="let i of imgs">

                                        </div>
                                  </div>
                              </div>
                              <div class="row justcenter">
                                <div class="col-md-2">
                                    <span>Shpae</span>
                                  </div>
                                  <div class="col-md-10">
                                   
                                    <mat-slider class="example-margin" max="100" min="0" step="20" thumbLabel="thumbLabel">
                                    </mat-slider>
                                  </div>
                          </div>
                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="3. Complete Purchase">3. Complete Purchase </mat-tab>
                </mat-tab-group>
            </div>
        </div>

    </div>
</div>